.iAssureITtable-bordered > thead > tr > th{
    border: 1px solid #2e6da4;
}
.iAssureITtable-bordered > tbody > tr > td{
  border: 1px solid #ddd;
}
/* .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}
.iAssureITtable-bordered{
  background: #337ab7 !important;
} */
.iAssureITtable-bordered thead{
  background: #337ab7 !important;
  color: #fff;
}
.paginationAdminWrap{
  text-align: center !important;
  /*margin-top: -15px;*/
  width: 100%;
/*  overflow-x: auto; 
  white-space: nowrap;*/
}
.paginationAdminOES > li > a{
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}
.paginationAdminOES > li{
    display: inline-block;
    margin-left: 0 !important;
    font-size: 10px;
    /*background: #333;*/
}
.queDataCircle p{
  /*background: #456;*/
  height: 100%;
  width: 100%;
}
.activeCircle{
  background: #337ab7 !important;
  color: #fff;
}
.queDataCircle {
  /* color: #2e6da4; */
  cursor: pointer;
  /* background: #fff; */
  padding-top: 4px;
  font-size: 12px;
  border: 1px solid #2e6da4 !important;
  height: 24px !important;
  width: 24px !important;
  border-radius: 100% !important;
  box-shadow: 3px 4px 7px -3px #aeabab !important;
  text-align: center;
}
.marginTop17{
	margin-top: 17px;
}
.NOpadding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}